.Header {
  width: 900px;
  margin: 40px auto 20px;
  text-align: center;
  border-bottom: 2px solid #4ebb81;
  padding-bottom: 15px;
}

.Header h3 {
  color: #ffffff;
  margin-bottom: 6px;
}

.Header h1 {
  font-size: 26px;
  font-weight: bold;
}