.List input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.List table {
  width: 100%;
  border-collapse: collapse;
}

.List th {
  background-color: #553dce;
  color: white;
  padding: 12px;
}

.List td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.List tr:hover {
  background-color: #f3f0ff;
}

.List button {
  padding: 4px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.List button:first-child {
  background-color: #ffc107;
  color: black;
}

.List button:last-child {
  background-color: #dc3545;
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;   /* ⭐ 중요 */
}
td, th {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}