.login{
  background-color: rgb(rgb(88, 173, 97), green, blue);
  font-weight: 700;
  color: brown;
  border-bottom: 2px solid black;
}
#login{
  background-color: rgb(rgb(119, 54, 108), green, blue);
  font-weight: 700;
  color: rgb(68, 38, 137);
  border-bottom: 2px solid black;
}